/* Add your dark vibe and neon colors here */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
}

header {
  background-color: #222;
  color: #76ecf9; /* Updated Neon Green */
  text-align: center;
  padding: 1em;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#mySvgObject {
  width: 650px; /* Set the initial width of the SVG */
  height: auto;
  opacity: 0; /* Start with opacity 0 for the swooping effect */
  animation: swoop 2s ease-in-out forwards; /* Swoop in */
}

@keyframes swoop {
  0% {
    transform: translateX(-100%) translateY(-100%) scale(0.1);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1;
  }
}

main {
  padding: 20px;
}

.event-details,
.google-map,
.rules,
.contact-form {
  background-color: #333;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#message {
  margin-bottom: -15px;
}



h2,
h3 {
  color: #76ecf9; /* Updated Neon Green */
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

iframe {
  width: 100%;
  height: 450px;
  border: none;
}

form label {
  color: #76ecf9; /* Updated Neon Green */
}

form input,
form textarea,
form button {
  background-color: #444;
  color: #fff;
  border: 1px solid #76ecf9; /* Updated Neon Green */
  padding: 10px;
  margin-bottom: 10px;
}

form button {
  cursor: pointer;
}

footer {
  background-color: #222;
  color: #76ecf9; /* Updated Neon Green */
  text-align: center;
  padding: 1em;
  position: static;
  bottom: 0;
  width: 100%;
}









